<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark" asp-controller="Home" asp-action="Index">Home</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" asp-controller="Home" asp-action="FAQs">FAQs</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" asp-controller="Home" asp-action="Help">Help</a>
                <span class="text-muted px-2">|</span>
                <a class="text-dark" asp-controller="Home" asp-action="Support">Support</a>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a asp-controller="Category" asp-action="GetAllFavorites" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a href="" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>

    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a asp-controller="Home" asp-action="Index" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>GentleStyle</h1>
            </a>
        </div>
        <div class="col-lg-9 col-6 text-left">
            <form id="searchForm" method="get" action="@Url.Action("AllProducts", "Category")">
                <div class="input-group mb-3">
                    <input type="text" name="searchQuery" class="form-control" placeholder="Search for products" value="@ViewBag.SearchQuery" style="filter: drop-shadow(2px 4px 6px black);" />
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <button asp-controller="Category" asp-action="AllProducts" class="btn fa fa-search btn-outline-light"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!-- Topbar End -->

<style>
    .btn-outline-light {
        background-color: #D19C97;
        color: white;
    }

        .btn-outline-light:hover {
            border-color: #D19C97;
            color: #D19C97;
        }
</style>                