<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="1" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Red Tapestry Buckle Detail Mule.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Footwear</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="2" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Silver 3 Pack Mixed Bead Rings.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Jewellery</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="3" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/BM Flames Cap In Black.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Hats & Caps</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="4" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Brown Aviator Matte Sunglasses.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Sunglasses</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="5" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Oversized Deadpool Cereal License Print T-shirt.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">T-Shirts</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="6" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Black Oversized Boxy Over The Seams Eagle Graphic Tracksuit.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Tracksuits</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="7" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Chocolate Relaxed Rigid Flare Patchwork Jeans.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Jeans</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="8" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Sage Oversized Boxy ABODE Hoodie.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Hoodies & Sweatshirts</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="9" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Yellow Oversized PU Badge Moto Jacket.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Coats & Jackets</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="10" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Stone Fixed Waist Relaxed Applique Print Trouser.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Trousers</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="11" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Grey Slim Fit Elasticated Waist Cargo Shorts.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Shorts</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="12" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Short Sleeve Linen Shirt.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Shirts</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="13" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Mint Plus Oversized Heavy Washed Applique Jogger.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Joggers</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <a asp-controller="Category" asp-action="ProductsByCategory" asp-route-categoryId="14" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid catStyle" src="/img/Olive Fixed Waist Slim Stacked Flare Strap Cargo Trouser.png" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Cargos</h5>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->

<style>
    .catStyle {
        width: 375px;
        height: 350px;
    }
</style>