@model ECommerce.Entities.Category

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" placeholder="Enter a new category name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a href="@Url.Action("Categories")" class="btn btn-secondary">Back to List</a>

